@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Recursive:wght@400&family=Roboto:wght@500&display=swap');
$logo: 'Poppins', sans-serif;
$text: 'Poppins', sans-serif;
$imp: 'Recursive', sans-serif;
$atag:  'Roboto', sans-serif;
$logo-size:25px;
$a-size: 16px;